.jumbotron {
  padding-top: 100px;
  background-color: #a5c9ca;
}

#prestasi {
  background-color: #a5c9ca;
}

#social {
  padding: 100px;
  background-color: #a5c9ca;
}

footer {
  background-color: #100720;
}
section {
  padding-top: 5rem;
}
